@import 'variables.scss';
@import 'node_modules/bootstrap/scss/bootstrap';
@import 'node_modules/bootstrap-vue/src/index.scss';

body {
  background-color: $gray-100;
}

nav .navbar-nav li a {
  color: white !important;
}

.pointer {
  cursor: pointer;
}

.vue-notification {
  margin: 5px 5px 0px 5px;
}

a[role="tab"] {
  outline: 0;
}

.page-border {
  border: 1px solid $gray-300;
  border-radius: $border-radius;
  padding: 30px;
  min-height: 600px;
  background-color: white;
  z-index: -1;

  &.transparent {
    background-color: transparent;
  }
}