.color {
  width: 30px;
  height: 30px;
  border: 1px solid #4050b4;
}

.phone {
  font-size: 26px;
}

#images .carousel-slide {
  position: relative;
  .background {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-size: cover;
    background-position: center;
    filter: grayscale(50%);
    z-index: -1;
    &:before {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      background-color: rgba(0, 100, 255, 0.5);
    }
  }
  img {
    height: 450px;
    margin: 0 auto;
    display: block;
    z-index: 2;
  }
}